section#work.work
  h2 Recent Work
  p Here are the latest products I’ve been working on. You might also want take a look on my <a href="https://dribbble.com/matheusagcosta" target="_blank">Dribbble</a> and <a href="https://behance.net/matheusagcosta" target="_blank">Behance</a> to check a few more.
  nav.work__nav
    each work, slug in public.templates.work._data
      a.work__link(href="#{ work.url }" target="_blank")
        picture.work__image
          img(src="../../assets/image-#{ slug }.png", alt="#{ work.legend }")
        h4.work__headline #{ work.title }
        small.work__legend #{ work.desc }
