main.resume
  section.resume__header
    .resume__avatar
      picture.resume__image
        source(srcset="../assets/image-cv.webp", type="image/webp")
        source(srcset="../assets/image-cv.png", type="image/png")
        img(src="../assets/image-cv.png", alt="Photo of Matheus in a company")
    .resume__headline
      h1.resume__heading Matheus Costa
      h2.resume__subheading Senior UX Developer & UI Designer

  section.resume__content
    .resume__column

      .resume__block
        h4.resume__title Biography
        p I’m a brazilian designer who codes. I’ve worked in-house and remotely on tons of different projects. I also love open source, so I help a group called Devtalks Bauru and collaborate as a local leader of IxDA Bauru. Sometimes I speak at events about front-end, design or remote work.

      .resume__block
        h4.resume__title Education
        p
          strong Bachelor of Design Degree #{''}
          | (2011 - 2014)
        p Universidade do Sagrado Coração (USC)

      .resume__block
        h4.resume__title Contact
        p 
          a(href="mailto:hi@matheusagcosta.com" aria-label="Send me an Email") 
            | hi@matheusagcosta.com
        p 
          a(href="https://matheusagcosta.com", target="_blank", rel="noopener noreferrer") 
            | https://matheusagcosta.com
            
        p 
          a(href="https://www.linkedin.com/in/matheusagcosta", target="_blank", rel="noopener noreferrer") 
            | @matheusagcosta

      .resume__block
        h4.resume__title Languages
        p
          strong Portuguese: #{''}
          | Native Speaker
        p
          strong English: #{''}
          | Near Fluent
        p
          strong Spanish: #{''}
          | Near Fluent

      .resume__block
        h4.resume__title Skills
        p
          strong Design #{''}
          | tools like Figma, Invision, Photoshop, Balsamiq and Zeplin.
        p
          strong HTML #{''}
          | semantic with pre-processors such as Slim, Pug or HAML.
        p
          strong CSS #{''}
          | modular using BEM, ITCSS and pre-processors (Sass, Stylus or Less)
        p
          strong Javascript #{''}
          | presentational, creating components (Vue, React or jQuery).

    .resume__column
      .resume__block
        h4.resume__title Work Experience
        ul
          li
            p
              strong Lead UX Developer / UI Designer #{''}
              | (2017 - Present)
            p
              a(href="https://eventene.com", target="_blank", rel="noopener noreferrer")
                i Eventene
              | #{''} 🇺🇸
            p I‘ve been redesigning web and mobile apps. Had a chance to try new tools like Figma, Harp.js and Styled Components. The stack has React, Vue.js, Sass, Pug and Slim.
          li
            p
              strong Lead Web Designer #{''}
              | (2016 - 2017)
            p
              a(href="https://www.e-xact.com/", target="_blank", rel="noopener noreferrer")
                i E-xact Transactions
              | #{''} 🇨🇦
            p I was hired to redesign the legacy product, so we developed a SPA using Vue.js and Node.js. I also made a design system with Jekyll and Sass to keep things synced and reusable.
          li
            p
              strong UX Developer / UI Designer #{''}
              | (2014 - 2016)
            p
              a(href="https://impulso.work/", target="_blank", rel="noopener noreferrer")
                i Helabs
              | #{''} 🇧🇷
            p Here I led the front-end team with code reviews, pair programming and recruitment. I developed front-end side of Ruby, Node.js and Python apps. Their stack had Sass, Bourbon, Slim, Jade (Pug), Jekyll, Angular, React and jQuery.
          li
            p
              strong UX Developer / UI Designer #{''}
              | (2014)
            p
              a(href="https://fireworkweb.com.br/", target="_blank", rel="noopener noreferrer")
                i Firework Web & Mobile
              | #{''} 🇧🇷
            p I worked a few months designing interfaces for Web, iOS / Android apps and developing front-end side of PHP projects. Their stack had Sass, Bootstrap, jQuery and Photoshop.
          li
            p
              strong UX Developer / UI Designer #{''}
              | (2011 - 2014)
            p
              a(href="https://arcasolutions.com/", target="_blank", rel="noopener noreferrer")
                i Arca Solutions
              | #{''} 🇧🇷
            p I started as an intern, so I learned how to created mockups for Web, iOS e Android apps. I also designed brand identities and developed front-end side of PHP projects. Their stack had Less, Bootstrap / Foundation, jQuery, Balsamiq and Photoshop.

