main.resume
  section.resume__header
    .resume__avatar
      picture.resume__image
        source(srcset="../assets/image-cv.webp", type="image/webp")
        source(srcset="../assets/image-cv.png", type="image/png")
        img(src="../assets/image-cv.png", alt="Photo of Matheus in a company")
    .resume__headline
      h1.resume__heading Matheus Costa
      h2.resume__subheading Senior UX & UI Engineer

  section.resume__content
    .resume__column

      .resume__block
        h4.resume__title Biography
        p
          | I’m a Brazilian designer who codes. I’ve worked in-house and remotely on tons of different projects creating digital experiences for over 10 years across a variety industries.

      .resume__block
        h4.resume__title Education
        p
          strong Bachelor of Design Degree #{''}
          | (2011 - 2014)
        p Universidade do Sagrado Coração (USC)

      .resume__block
        h4.resume__title Contact
        p
          a(href="mailto:hi@matheusagcosta.com" aria-label="Send me an Email")
            | hi@matheusagcosta.com
        p
          a(href="https://matheusagcosta.com", target="_blank", rel="noopener noreferrer")
            | https://matheusagcosta.com

        p
          a(href="https://www.linkedin.com/in/matheusagcosta", target="_blank", rel="noopener noreferrer")
            | @matheusagcosta

      .resume__block
        h4.resume__title Languages
        p
          strong Portuguese: #{''}
          | Native Speaker
        p
          strong English: #{''}
          | Near Fluent
        p
          strong Spanish: #{''}
          | Near Fluent

      .resume__block
        h4.resume__title Skills
        p
          strong Product Design: #{''}
          | Definition, research, user stories, use cases, flow charting, wireframing, prototyping, visual specification, asset creation, QA, and evaluation.
        p
          strong UI Patterns: #{''}
          | Interactive design frameworks, interface patterns and dynamic content.
        p
          strong Design Tools: #{''}
          | Figma, Invision, Photoshop, Balsamiq and Zeplin.
        p
          strong UI Coding: #{''}
          | HTML, Pug, Jade, CSS, Sass, Stylus, JavaScript, jQuery, React & Vue.js.

    .resume__column
      .resume__block
        h4.resume__title Work Experience
        ul
          li
            p
              strong Lead Interaction Designer #{''}
              | (Jul 19 - Present)
            p
              a(href="https://devready.io", target="_blank", rel="noopener noreferrer")
                i Devready
              | #{''} 🇺🇸
            p I've been working as a freelancer designing different kinds of projects for American companies.
          li
            p
              strong Lead Designer #{''}
              | (Nov 17 - Present)
            p
              a(href="https://eventene.com", target="_blank", rel="noopener noreferrer")
                i Eventene
              | #{''} 🇺🇸
            p I redesigned all of their products: An event organizer dashboard, a marketing page, iOS and Android apps and the hybrid web forms for surveys.
          li
            p
              strong Lead Web Designer #{''}
              | (Aug 16 - Nov 17)
            p
              a(href="https://www.e-xact.com/", target="_blank", rel="noopener noreferrer")
                i E-xact Transactions
              | #{''} 🇨🇦
            p I was hired to redesign their legacy product, so we developed a Single Page Application using modern frameworks and I also made a design system to keep things synced and reusable.
          li
            p
              strong UX / UI Designer #{''}
              | (Aug 14 - Aug 16)
            p
              a(href="https://impulso.work/", target="_blank", rel="noopener noreferrer")
                i Helabs
              | #{''} 🇧🇷
            p Here I worked in many different clients and projects. Learning a lot of new technologies and tools. Also learned how to be self managed, since we had to deliver a MVP per week.
          li
            p
              strong UX / UI Designer #{''}
              | (Jan 13 - Aug 14)
            p
              a(href="https://fireworkweb.com.br/", target="_blank", rel="noopener noreferrer")
                i Firework Web & Mobile
              | #{''} 🇧🇷
            p I worked as a freelancer designing interfaces for Web, iOS / Android apps and developing front-end side of PHP projects.
          li
            p
              strong UX / UI Designer #{''}
              | (Nov 11 - Jul 14)
            p
              a(href="https://arcasolutions.com/", target="_blank", rel="noopener noreferrer")
                i Arca Solutions
              | #{''} 🇧🇷
            p I started as an intern, so I learned all the design process on how to build a nice product. Worked mainly creating mockups for Web, iOS e Android apps. I also designed brand identities and developed front-end side of PHP projects.

