section#work.work
  .work__info
    h2.work__title Selected work
  nav#drag.work__nav
    each work, slug in public.templates.work._data
      if work.show == true
        .work__card.is-light-visible
          a.work__preview(href="#{ work.url }" target="#{ work.target }" rel="noopener" aria-label="#{ work.legend }")
            picture.work__image
              source(srcset="../../assets/image-#{ slug }.webp", type="image/webp")
              source(srcset="../../assets/image-#{ slug }.png", type="image/png")
              img(src="../../assets/image-#{ slug }.png", alt="#{ work.legend }", width="758", height="506")
          .work__details
            h3.work__headline #{ work.title }
            small.work__legend #{ work.desc }
            a.work__button(href="#{ work.url }" target="#{ work.target }" rel="noopener" aria-label="#{ work.legend }")
              | #{ work.action }
              if work.case == false
                span.work__icon ↗️

        .work__card.is-dark-visible
          a.work__preview(href="#{ work.url }#contrast-on" target="#{ work.target }" rel="noopener" aria-label="#{ work.legend }")
            picture.work__image
              source(srcset="../../assets/image-#{ slug }.webp", type="image/webp")
              source(srcset="../../assets/image-#{ slug }.png", type="image/png")
              img(src="../../assets/image-#{ slug }.png", alt="#{ work.legend }", width="758", height="506")
          .work__details
            h3.work__headline #{ work.title }
            small.work__legend #{ work.desc }
            a.work__button(href="#{ work.url }#contrast-on" target="#{ work.target }" rel="noopener" aria-label="#{ work.legend }")
              | #{ work.action }
              if work.case == false
                span.work__icon ↗️
