section#talks.talks
  picture.talks__image
    source(srcset="../assets/image-speaking.webp", type="image/webp")
    source(srcset="../assets/image-speaking.png", type="image/png")
    img(src="../assets/image-speaking.png", alt="Photo of Matheus Speaking at DevCamp")
  .talks__info
    h2 Speaking
    p I love to share knowledge so frequently I prepare talks to speak at technology events. You'll find more details about my presentations below.
    each talks, slug in public.templates.talks._data
      .talks__item
        h3.talks__headline
          span #{ talks.title }
          |  -  #{''}
          a.talks__link(href="#{ talks.url }" target="_blank" rel="noopener" aria-label="#{ talks.title }") #{ talks.link }
        small.talks__legend #{ talks.event } - #{ talks.date }
