section#talks.talks
  //- picture.talks__image
  //-   source(srcset="../assets/image-speaking.webp", type="image/webp")
  //-   source(srcset="../assets/image-speaking.png", type="image/png")
  //-   img(src="../assets/image-speaking.png", alt="Photo of Matheus Speaking at DevCamp", width="854", height="1112")
  .talks__info
    h2 Speaking, writing & more
    nav.talks__nav
      each talks, slug in public.templates.talks._data
        a.talks__link(href="#{ talks.url }" target="_blank" rel="noopener" aria-label="#{ talks.title } #{ talks.event }, #{ talks.date }")
          p.talks__headline
            .talks__icon(aria-hidden="true") #{ talks.icon }
            .talks__text
              strong #{ talks.title }
              small.talks__legend #{ talks.event }, #{ talks.date }
