section#projects.about
  h2 Software is the medium through which I express myself.
  p During my free time I try to help mentoring people, organizing events or design and code free projects.
  //- nav.about__nav
  //-   each community, slug in public.templates.about._data
  //-     a.about__link(href="#{ community.url }" target="_blank" rel="noopener" aria-label="#{ community.desc }")
  //-       if community.dark
  //-         img.about__icon(src="../../assets/logo-#{ community.icon }.svg", alt="#{ community.legend }", width="150", height="150")
  //-         img.about__icon(src="../../assets/logo-#{ community.icon }-dark.svg", alt="#{ community.legend }", width="150", height="150")
  //-       else
  //-         img.about__icon(src="../../assets/logo-#{ community.icon }.svg", alt="#{ community.legend }", width="150", height="150")
  //-       strong.about__headline #{ slug }
  //-       small.about__legend #{ community.desc }
